aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
ansi2html==1.9.2
anthropic==0.45.2
anyio==4.8.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
boto3==1.36.11
botocore==1.36.11
browser-use==0.1.32
cachelib==0.9.0
cachetools==5.5.2
certifi==2025.10.5
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.4
choreographer==1.0.9
click==8.3.0
click-plugins==1.1.1
cligj==0.7.2
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.1
courlan==1.3.2
cramjam==2.9.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dash==3.2.0
dash-ag-grid==2.4.0
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-quill==0.0.4
dash-table==5.0.0
dash_daq==0.5.0
dataclass-wizard==0.22.3
dataclasses-json==0.6.7
dateparser==1.2.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
EditorConfig==0.17.0
et_xmlfile==2.0.0
executing==2.0.1
fastdtw==0.3.4
fastjsonschema==2.21.1
fastparquet==2024.11.0
filetype==1.2.0
fiona==1.10.1
fireworks-ai==0.15.12
Flask==3.1.2
Flask-Caching==2.0.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
flet==0.27.6
flet-desktop==0.27.6
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.2.0
geopandas==0.14.2
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.67.1
grpcio-status==1.67.1
gunicorn==21.2.0
h11==0.14.0
html2text==2024.2.26
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.7.1
humanfriendly==10.0
idna==3.11
imageio==2.36.1
img2pdf==0.5.1
importlib_metadata==8.7.0
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsbeautifier==1.15.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jusText==3.0.1
kaleido==0.2.1
kiwisolver==1.4.8
langchain==0.3.17
langchain-anthropic==0.3.3
langchain-aws==0.2.12
langchain-community==0.3.16
langchain-core==0.3.33
langchain-fireworks==0.2.7
langchain-google-genai==2.0.8
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-text-splitters==0.3.5
langsmith==0.2.11
lazy_loader==0.4
llvmlite==0.43.0
lmnr==0.4.56
logistro==1.1.0
lxml==5.3.0
MainContentExtractor==0.0.4
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.0
matplotlib==3.8.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.1
monotonic==1.6
more-itertools==9.1.0
mplsoccer==1.4.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
narwhals==2.10.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.1.1
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.2
oauthlib==3.3.1
ollama==0.4.7
onnxruntime==1.22.1
openai==1.61.0
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-langchain==0.37.1
opentelemetry-instrumentation-requests==0.50b0
opentelemetry-instrumentation-sqlalchemy==0.50b0
opentelemetry-instrumentation-threading==0.50b0
opentelemetry-instrumentation-urllib3==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-semantic-conventions-ai==0.4.2
opentelemetry-util-http==0.50b0
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.1
pdfkit==1.0.0
pexpect==4.9.0
pikepdf==9.5.2
pillow==10.4.0
platformdirs==4.2.2
playwright==1.49.1
plotly==6.3.1
pooch==1.8.2
posthog==3.11.0
prometheus_client==0.21.1
prompt_toolkit==3.0.47
propcache==0.2.1
proto-plus==1.26.0
protobuf==4.25.6
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.9.1
pyee==12.0.0
Pygments==2.19.1
PyMatting==1.1.13
pyparsing==3.2.3
pypdf==6.0.0
PyPDF2==3.0.1
pyproj==3.7.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==3.2.1
python-magic==0.4.27
python-telegram-bot==22.5
pytube==15.0.0
pytubefix==8.12.3
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.0.3
qtconsole==5.6.1
QtPy==2.4.2
referencing==0.36.2
regex==2024.11.6
rembg==2.0.61
repath==0.9.0
reportlab==4.0.7
requests==2.32.0
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.24.0
rsa==4.9
s3transfer==0.11.2
schedule==1.2.2
scikit-image==0.25.0
scikit-learn==1.3.2
scipy==1.15.2
seaborn==0.13.2
selenium==4.27.1
Send2Trash==1.8.3
setuptools==70.3.0
shapely==2.0.7
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.37
stack-data==0.6.3
statsmodels==0.14.1
streamlit==1.30.0
sympy==1.14.0
tenacity==8.5.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2024.12.12
tiktoken==0.8.0
tinycss2==1.4.0
tld==0.13
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.5.0
validators==0.34.0
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.42.0
widgetsnbextension==4.0.13
wrapt==1.17.2
wsproto==1.2.0
xlrd==2.0.1
yarl==1.18.3
zipp==3.23.0
